body {
  margin: 0;
  padding: 0;
  background-color: #C0C0C0;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 85px;
  max-width: auto;
  height: 100%;
  border: 5px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 100px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


 /*update.php*/
 #container{   
      margin-top: 85px;
       max-width:50%;
       height: 30px;
       border: 5px solid #9C9C9C;
       background: #FFFFFF;
       padding: 2%;

} 

/*delete.php*/
#form-delete{
       margin-top: 85px;
       max-width:50%;
       height: 300px;
       border: 5px solid #9C9C9C;
       background: #FFFFFF;
       padding: 2%;
}